.metals {
  display: flex;
  flex-wrap: wrap;
  margin: 1.1rem;
  justify-content: center;
}

.singleMetal {
  border: solid black 2px;
  text-align: center;
  padding: .5rem;
  margin: .5rem;
}

.collectionContainer {
  display: flex;
  justify-content: center;
}

.collectionValue {
  background-color: rgba(0, 0, 0, 0.247);
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  width: fit-content;
  padding: 1rem;
  border: 2px solid black;
  text-align: center;
  justify-content: center;
}

