.collectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collectionValue {
  background-color: rgba(0, 0, 0, 0.247);
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  width: fit-content;
  padding: 1rem;
  border: 2px solid black;
  text-align: center;
  /* justify-items: space-between; */
}

.blurred {
  filter: blur(9px);
  transition: 0.6s filter linear;
  
  /* opacity: .1; */
}

.blurred:hover {
  filter: blur(0);
}

.collectionUpdate {
  font-size: .6rem;
}

.collectionWorth {
  font-size: 2rem;
}

.metals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

#f1_container {
  position: relative;
  /* border: solid 2px; */
  margin: 10px auto;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#f1_container {
  perspective: 1000;
}
#f1_card {
  /* width: 100%; */
  height: 100px;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);
  /* box-shadow: -5px 5px 5px #aaa; */
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  /* padding: 10px; */
  /* color: white; */
  text-align: center;
  /* background-color: #aaa; */
}

.singleMetal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  border: solid black 2px;
  border-radius: .5rem;
  text-align: center;
  padding: .5rem;
  margin: .5rem;
}

.editDeleteButtonContainer {
  display: flex;
  justify-content: space-evenly;

}

.metal--imageFront {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.metal--imageBack {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.trioContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.1rem;
}

.newCollectionContainer {
  border: solid 2px black;
  border-radius: .5rem;
  text-align: center;
  margin: 2px;
  padding: 2px;
}

.changeCollectionContainer {
  border: solid 2px black;
  border-radius: .5rem;
  text-align: center;
  margin: 2px;
  padding: 2px;
}

.addPieceContainer {
  border: solid 2px black;
  border-radius: .5rem;
  text-align: center;
  margin: 2px;
  padding: 2px;
}

.dialog--addPiece {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 2rem;
  margin-top: 20rem;
  height: 30rem;
  width: 20rem;
  overflow: auto;
}

.dialog--newCollection {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 2rem;
  margin-top: 20rem;
  height: 15rem;
  width: 20rem;
  overflow: auto;
}

.formText {
  color: white;
}
.buttonsContainer {
  display: flex;
  justify-content: center;
}
.Buttons {
  margin: 1rem;
}

.addHeader {
  text-align: center;
  font-size: 1.5rem;
}

.weightContainer {
  display: block;
  width: 94%;
}

.weight {
  width: 70%;
}

.unit {
  width: 30%;
}