.navContainer {
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  margin: .5rem
}

.navbar__item {
  /* flex-basis: 12%; */
  list-style-type: none;
}

li {
  margin: 4px;
}